.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body {
  background: linear-gradient(-45deg, #f29a7f, #eb75a2, #6ec6e6, #64dfc2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Comfortaa", serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
